---
layout: layouts/base.njk
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "/{{ locale }}/industries/raksti/"
currentPage: articles
eleventyComputed:
  pageTitle: "{{ articles.title }}"
---
<div class="page-title relative">
    <div class="paralaximg" data-parallax="scroll" data-image-src="{{ articles.hero_image | asset | htmlBaseUrl }}"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="title">{{ articles.hero_title }}</h3>
                    <ul class="breadcrumb">
                        <li><a href="/{{ locale }}/">{{ articles.breadcrumb_home }}</a></li>
                        <li><a href="/{{ locale }}/industries/">{{ articles.breadcrumb_industries }}</a></li>
                        <li>{{ articles.breadcrumb_current }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="flat-spacing-2">
    <div class="container">
        <div class="row justify-center">
            <div class="col-lg-8">
                <div class="heading-section text-center spacing-2">
                    <h1 class="wow fadeInUp">{{ articles.main_heading }}</h1>
                    <p class="text-body-1 text_secondary wow fadeInUp" data-wow-delay="0.1s">{{ articles.main_intro }}</p>
                </div>
            </div>
        </div>

        {% set items = articleItems %}
        {% if items and items.length %}
        <div class="row g-4">
            {% for item in items %}
            <div class="col-md-6">
                <a href="/{{ locale }}/industries/raksti/{{ item.slug }}/" class="service-card hover-img wow fadeInUp">
                    {% if item.image %}
                    <div class="image img-style">
                        <img class="lazyload" src="{{ item.image | asset }}" data-src="{{ item.image | asset | htmlBaseUrl }}" alt="{{ item.title }}">
                    </div>
                    {% endif %}
                    <div class="service-card-content">
                        {% if item.market or item.date %}
                        <p class="text-body-1 text_secondary mb_8">
                            {% if item.market %}<span>{{ item.market }}</span>{% endif %}
                            {% if item.market and item.date %} · {% endif %}
                            {% if item.date %}<span>{{ item.date | formatDate(locale) }}</span>{% endif %}
                        </p>
                        {% endif %}
                        <h3 class="mb_12">{{ item.title }}</h3>
                        <p class="text-body-1 text_secondary mb_16">{{ item.summary }}</p>
                        <span class="tf-btn btn-onsurface">{{ articles.read_more }} <i class="icon-arrow-up-right"></i></span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="row justify-center">
            <div class="col-lg-8">
                <p class="text-body-1 text_secondary text-center wow fadeInUp">{{ articles.empty_state }}</p>
            </div>
        </div>
        {% endif %}
    </div>
</section>
