---
layout: layouts/base.njk
pagination:
  data: locales
  size: 1
  alias: locale
permalink: "/{{ locale }}/services/"
currentPage: services
eleventyComputed:
  pageTitle: "{{ services.title }}"
---
<div class="page-title relative">
    <div class="paralaximg" data-parallax="scroll" data-image-src="{{ services.hero_image | asset | htmlBaseUrl }}"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="title">{{ services.hero_title }}</h3>
                    <ul class="breadcrumb">
                        <li><a href="/{{ locale }}/">{{ services.breadcrumb_home }}</a></li>
                        <li>{{ services.breadcrumb_current }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="flat-spacing-2">
    <div class="container">
        <div class="row justify-center">
            <div class="col-lg-8">
                <div class="heading-section text-center spacing-2">
                    <h1 class="wow fadeInUp">{{ services.main_heading }}</h1>
                    <p class="text-body-1 text_secondary wow fadeInUp" data-wow-delay="0.1s">{{ services.main_intro }}</p>
                </div>
            </div>
        </div>
        <div class="row g-4">
            {% for item in collections.allServices %}
            {% if item.locale == locale %}
            <div class="col-md-6">
                <a href="/{{ locale }}/services/{{ item.slug }}/" class="service-card hover-img wow fadeInUp">
                    <div class="image img-style">
                        <img class="lazyload" src="{{ item.image | asset }}" data-src="{{ item.image | asset | htmlBaseUrl }}" alt="{{ item.title }}">
                    </div>
                    <div class="service-card-content">
                        <h3 class="mb_12">{{ item.title }}</h3>
                        <p class="text-body-1 text_secondary mb_16">{{ item.summary }}</p>
                        <span class="tf-btn btn-onsurface">{{ services.learn_more }} <i class="icon-arrow-up-right"></i></span>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
