<select class="image-select center style-default color-white type-languages" id="language-select" data-current-page="{{ currentPage | default('index') }}"{% if currentPage == 'product' and product.slug %} data-product-slug="{{ product.slug }}"{% endif %}>
    <option value="lv" {% if locale == 'lv' %}selected{% endif %}>Latviešu</option>
    <option value="en" {% if locale == 'en' %}selected{% endif %}>English</option>
    <option value="ru" {% if locale == 'ru' %}selected{% endif %}>Русский</option>
</select>
