<div class="offcanvas offcanvas-start canvas-mb" id="mobileMenu">
    <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
    <div class="mb-canvas-content">
        <div class="mb-body">
            <ul class="nav-ul-mb" id="wrapper-menu-navigation">
                <li class="nav-mb-item{% if currentPage == 'index' %} active{% endif %}">
                    <a href="/{{ locale }}/" class="mb-menu-link"><span>{{ settings.navigation.home }}</span></a>
                </li>
                <li class="nav-mb-item{% if currentPage == 'shop' %} active{% endif %}">
                    <a href="/{{ locale }}/shop/" class="mb-menu-link"><span>{{ settings.navigation.products }}</span></a>
                </li>
                <li class="nav-mb-item{% if currentPage == 'services' or currentPage == 'service' %} active{% endif %}">
                    {% if settings.navigation.service_menu and settings.navigation.service_menu.length %}
                    <a href="#dropdown-menu-services" class="collapsed mb-menu-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dropdown-menu-services">
                        <span>{{ settings.navigation.services }}</span>
                        <span class="btn-open-sub"></span>
                    </a>
                    <div id="dropdown-menu-services" class="collapse">
                        <ul class="sub-nav-menu">
                            <li><a href="/{{ locale }}/services/" class="sub-nav-link">{{ settings.navigation.services }}</a></li>
                            {% for link in settings.navigation.service_menu %}
                            <li><a href="{{ link.url }}" class="sub-nav-link">{{ link.label }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                    <a href="/{{ locale }}/services/" class="mb-menu-link"><span>{{ settings.navigation.services }}</span></a>
                    {% endif %}
                </li>
                <li class="nav-mb-item{% if currentPage == 'contact' %} active{% endif %}">
                    <a href="/{{ locale }}/contact/" class="mb-menu-link"><span>{{ settings.navigation.contact }}</span></a>
                </li>
            </ul>
            <div class="mb-other-content">
                <div class="mb-notice">
                    <a href="/{{ locale }}/contact/" class="text-need">{{ settings.labels.need_help }}</a>
                </div>
                <ul class="mb-info">
                    <li>{{ settings.footer.address }}</li>
                    <li>Email: <b>{{ settings.footer.email }}</b></li>
                    <li>Phone: <b>{{ settings.footer.phone }}</b></li>
                </ul>
            </div>
        </div>
        <div class="mb-bottom">
            <div class="bottom-bar-language">
                {% include "partials/language-switcher.njk" %}
            </div>
        </div>
    </div>
</div>
