<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>
<script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/js/lazysize.min.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/multiple-modal.js"></script>
<script type="text/javascript" src="/js/parallax.min.js"></script>
<script type="text/javascript" src="/js/simpleParallaxVanilla.umd.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/cms-language.js"></script>
{% if currentPage == 'index' %}
<script type="text/javascript" src="/js/jquery.fancybox.js"></script>
{% endif %}
{% if currentPage == 'contact' %}
<script type="text/javascript" src="/js/jquery-validate.js"></script>
{% endif %}
