<div class="tf-toolbar-bottom">
    <div class="toolbar-item">
        <a href="/{{ locale }}/shop/">
            <div class="toolbar-icon"><span class="icon icon-squaresfour"></span></div>
            <div class="toolbar-label">{{ settings.labels.shop }}</div>
        </a>
    </div>
    <div class="toolbar-item">
        <a href="/{{ locale }}/contact/">
            <div class="toolbar-icon"><span class="icon icon-lifebuoy"></span></div>
            <div class="toolbar-label">{{ settings.navigation.contact }}</div>
        </a>
    </div>
</div>
